body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slider-elinvar {
  width: 50%;
  top: 15vw;
  left: 25vw;
  position: absolute;
}

.amount {
  top: 7vw ;
  left: 44vw;
  position: absolute;
  font-size: 66px;
}

.euro {
  font-size: 30px;
}

.decimals {
  position: absolute;
  margin-left: -10px;
  margin-top: 2px;
  font-size: 30px;
}

.decimals-separator {
  margin-left: -14px;
  margin-right: 4px;
}
